.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left,
.right {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

.logoutButton {
  height: 40px;
  background-color: #d9d9d9;
}
